
.sticky
{
    padding: 0px 40px;
    transition: all .4s ease-in-out ;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
}
.highlight::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 20px;
    top: 1.2rem;
    height: 0.20em;
    width: 62%;
    background-color: $secondaryColor;
    transition: color 0.4s ease-out;

}
