@mixin media($size) {
  @if $size == sm {
    @media (min-width: 320px) and (max-width: 478px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 479px) and (max-width: 768px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $size == xlg {
    @media (min-width: 1025px) and (max-width: 1250px) {
      @content;
    }
  } @else if $size == xxlg {
    @media (min-width: 1225px) and (max-width: 2000px) {
      @content;
    }
  }
}
@mixin link__hover {
  cursor: pointer;
  color: $secondaryColor;
  transition: all 0.4s ease-out;
}
@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
@mixin a_link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}
