// 640px, 1024px, 1400px
$breakpoints-up: (
  'medium': '31.26em',
  'large': '56.25em',
  'xlarge': '70.50em',
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  'small': '31.2599em',
  'medium': '56.24em',
  'large': '70.24em',
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
@mixin link__hover {
  cursor: pointer;
  color: $secondaryColor;
  transition: all 0.4s ease-out;
}
@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
@mixin a_link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.6rem;
}
