$primaryFont: 'Poppins' , sans-serif;
$secondaryFont: 'Noto Sans JP', sans-serif;

// color
$primaryColor: #0f141e;
$secondaryColor: #4c58d9;
$pickupColor: #4e4c4c;
$mainColor: #21211e;
$mainSuppliment: #0f0f0f;
$secondMost: #878a8f;
$thirdMost: #0e1322;
$thirdSuppliment: #0f141e;
$forground: #e4e4e4;
$forgroundSuppliment: #e6e6e6;
$forgroundAlternative: #e7e8e9;
$forgroundGrayish: #ededed;
$whiteOpacity: #0f141e; //30% opacity
