* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}
html {
  font-size: 70%;
  @include media(sm) {
    font-size: 44%;
  }
  @include media(md) {
    font-size: 56.25%;
  }
  @include media(lg) {
    font-size: 64.5%;
  }
}
body {
  box-sizing: border-box;
  background: #ffffff;
}
body {
  background-color: #fff;
}
body.active {
  overflow-y: auto;
  overflow-x: hidden;
  .navbar__logo--title {
    p {
      color: white;
      z-index: 9;
    }
  }
}
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.hero,
#selectedProjects,
#personalProjects,
#newProjects,
#contact {
  @include media(xxlg) {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
  }
  @include media(xlg) {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  @include media(lg) {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
  }
  @include media(md) {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
  }
}
