// contact section start here...

#contact {
  position: relative;
  padding: 50px 0;
  .contact_content {
    position: relative;
    padding: 50px;
    @include grid;
    @include breakpoint-down(small) {
      padding: 0 20px;
    }
    @include breakpoint-down(large) {
      padding: 0 20px;
    }
    > a {
      color: black;
    }
    .contact_info {
      grid-column: 1/6;
      @include breakpoint-down(small) {
        grid-column: 1/13;
      }
      p:nth-child(1) {
        i {
          font-size: 100px;
        }
        font-size: 1.5rem;
        font-family: $primaryFont;
        width: 200px;
        font-weight: 700;
        @include breakpoint-down(large) {
          font-size: 18px;
        }
      }
      p:nth-child(2) {
        margin-top: 0.62rem;
        font-family: sans-serif;
        font-weight: 500;
        // width: 300px;
        font-size: 1rem;
        color: $pickupColor;
        @include breakpoint-down(large) {
          font-size: 15px;
          // line-height: 10px;
          width: 100%;
        }
      }
      p:nth-child(3) {
        margin-top: 1.2rem;
        // width: 5.5rem;
        font-family: $secondaryFont;
        font-weight: 500;
        line-height: 21px;
        font-size: 1rem;
        color: rgb(87, 84, 84);

        > a {
          @include a_link;
        }
      }
    }
    .latest_work {
      @include breakpoint-down(small) {
        grid-column: 1/13;
      }
      grid-column: 6/8;
      p:nth-child(1) {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $primaryFont;
      }
      p:nth-child(2) {
        margin-top: 0.5rem;
        width: 5rem;
        font-family: $secondaryFont;
        font-weight: 500;
        font-size: 1rem;

        a {
          @include a_link;
          color: $secondaryColor;
        }
      }
    }
    .availability {
      grid-column: 8/11;
      @include breakpoint-down(small) {
        grid-column: 1/13;
      }
      p:nth-child(1) {
        font-size: 1.5rem;
        line-height: 30px;
        font-weight: 700;
        font-family: $primaryFont;
      }
      p:nth-child(2) {
        margin-top: 1rem;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: $pickupColor;
      }
    }
    .to_follow {
      @include breakpoint-down(small) {
        grid-column: 1/13;
      }
      grid-column: 11/13;
      p:nth-child(1) {
        font-size: 1.5rem;
        line-height: 30px;
        font-weight: 700;
        font-family: $primaryFont;
        width: 130px;
      }
      p:nth-child(2) {
        margin-top: 0.62rem;
        width: 6rem;
        font-family: sans-serif;
        font-weight: 500;
        line-height: 25px;
        font-size: 1rem;

        > a {
          @include a_link;
          color: $secondaryColor;
          i {
            color: $secondaryColor;
          }
        }
      }
    }
  }
  .copyright {
    @include grid;
    opacity: 60%;
    .contain {
      @include flex(center);
      grid-column: 1/13;
      img {
        height: 45px;
        width: 45px;
        @include breakpoint-down(large) {
          height: 35px;
          width: 35px;
        }
      }
      p {
        margin: 7px 0 0 10px;
        font-size: 17px;
        @include breakpoint-down(large) {
          font-size: 15px;
        }
      }
    }
  }
}
