.hero {
  @include media(md){
    padding: 2.5rem;
  }
  @include media(lg){
    padding: 3rem;
  }
  @include media(xlg){
    padding: 3.5rem;
  }
  @include media(sm){
    padding: 2rem;
  }
  padding: 5rem 0;
  margin-top: 10rem;
  position: relative;
  @include grid;
  &__left {
    @include media(sm) {
      grid-column: 1/13;
    }
    grid-column: 1/8;
    h5 {
      color: $primaryColor;
      text-transform: uppercase;
      font-family: $primaryFont;
      letter-spacing: 4px;
      font-size: $p;
      font-weight: bold;
    }
    p {
      padding: 1rem 0;
      font-family: $primaryFont;
      color: $secondMost;
    }
  }
  &__right {
    @include media(sm) {
      grid-column: 1/13;
    }
    grid-column: 8/13;
    align-self: center;
    .image__container {
      height: auto;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
