#personalProjects {
  @include media(sm) {
    padding: 2rem;
  }
  @include media(md) {
    padding: 2.5rem;
  }
  .personalProjects__heading {
    padding: 4rem 0;
    & p:nth-child(1) {
      text-transform: uppercase;
      font-family: $primaryFont;
      color: $pickupColor;
      letter-spacing: 4px;
    }
    & p:nth-child(2) {
      font-size: $xxlr;
      font-family: $primaryFont;
      font-weight: 700;
    }
  }
  .container {
    @include grid;
    padding: 2rem 0;
    .box1 {
      position: relative;
      background-image: url(../assets/triniso-01.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      transition: all 0.1s ease;
      .hover__button {
        color: #fff;
        visibility: hidden;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        opacity: 0;
        @include flex(left);
        transition: opacity 500ms ease-in;
        #arrow__icon {
          text-align: center;
          margin-left: 10px;
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/triniso-01.jpg) center center;
        background-size: cover;
        .hover__button {
          visibility: visible;
          opacity: 1;
          @include media(sm) {
            display: none;
          }
        }
      }
    }
  }
  .box2 {
    transition: all 0.1s ease;
    background: url(../assets/symova-01.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .box2__text {
      .hover__button {
        color: #fff;
        visibility: hidden;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        opacity: 0;
        @include flex(left);
        transition: opacity 500ms ease-in;
        #arrow__icon {
          text-align: center;
          margin-left: 10px;
        }
      }
    }
    &:hover {
      cursor: pointer;
      background: url(../assets/symova-01.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      .hover__button {
        @include media(sm) {
          display: none;
        }
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
.box1,
.box2 {
  height: 60rem;
  grid-column: span 6;
  @include media(sm) {
    height: 40rem;
    grid-column: 1/13;
  }
}
.box1__text,
.box2__text {
  padding: 4rem;
  @include media(sm) {
    padding: 2rem;
  }
  & p:nth-child(1) {
    color: rgb(146, 138, 138);
  }
  & p:nth-child(2) {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    padding-top: 15px;
  }
}
#newProjects {
  @include media(sm) {
    padding: 2rem;
  }
  @include media(md) {
    padding: 2.5rem;
  }
  padding: 4rem 0;
  .newProjects__heading {
    & p:nth-child(1) {
      text-transform: uppercase;
      font-family: $primaryFont;
      color: $pickupColor;
      letter-spacing: 5px;
    }
    & p:nth-child(2) {
      font-size: $sbtl;
      font-family: $primaryFont;
      font-weight: 700;
    }
  }
  .container {
    @include grid;
    padding: 4rem 0;
    .box1,
    .box2,
    .box3 {
      height: 35rem;
      @include media(sm) {
        height: 25rem;
      }
    }
    .box1 {
      @include media(sm) {
        grid-column: span 6;
      }
      grid-column: span 4;
      background: url(../assets/triniso-01.jpg);
      background-size: cover;
      background-position: center center;
      @include flex(center);
      .box1__text {
        p {
          font-size: $sm;
          font-weight: 400;
        }
        img {
          margin-bottom: 26px;
        }
        padding: 0px 4rem;
        color: #fff;
        text-align: center;
        visibility: hidden;
        @include media(md) {
          display: block;
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/triniso-01.jpg) rgba(0, 10, 29, 0.911);
        background-position: center center;
        background-size: cover;
        background-blend-mode: multiply;
        .box1__text {
          visibility: visible;
        }
      }
    }
    .box2 {
      @include media(sm) {
        grid-column: span 6;
      }
      p {
        font-size: $sm;
        font-weight: 400;
      }
      grid-column: span 4;
      background: url(../assets/pmr-01.jpg);
      background-size: cover;
      background-position: center center;
      @include flex(center);
      .box2__text {
        padding: 0px 3rem;
        img {
          margin-bottom: 26px;
        }
        color: #fff;
        text-align: center;
        visibility: hidden;
        @include media(lg) {
          display: none;
        }
        @include media(sm) {
          display: none;
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/pmr-01.jpg) rgba(15, 20, 30, 0.95);
        background-blend-mode: multiply;
        background-position: center left;
        background-size: cover;
        .box2__text {
          visibility: visible;
          transition: visibility 1000ms ease;
        }
      }
    }
    .box3 {
      @include media(sm) {
        grid-column: span 6;
      }
      grid-column: span 4;
      background: url(../assets/symova-01.jpg) center center;
      background-size: cover;
      @include flex(center);
      transition: background 0.3s ease-in-out;
      .box3__text {
        padding: 0px 3rem;
        img {
          margin-bottom: 26px;
        }
        color: #fff;
        text-align: center;
        visibility: hidden;
        @include media(sm) {
          display: none;
        }
        @include media(md) {
          display: none;
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/symova-01.jpg) center center
          rgba(15, 20, 30, 0.95);
        background-blend-mode: multiply;
        background-size: cover;
        .box3__text {
          visibility: visible;
        }
      }
    }
  }
  .collaborate {
    padding: 8rem 5rem;
    @include media(sm) {
      padding: 4rem 2rem;
    }
    .content {
      @include flex(center);
      flex-direction: column;
      text-align: center;
      & p:nth-child(1) {
        font-family: $primaryFont;
        color: $pickupColor;
        letter-spacing: 4px;
      }
      & p:nth-child(2) {
        position: relative;
        font-size: $sbtl;
        font-weight: 700;
        font-family: $primaryFont;
        &:hover {
          cursor: pointer;
          position: relative;
          &::after {
            @include media(sm) {
              display: none;
            }
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 0.25rem;
            width: 100%;
            background: $secondaryColor;
          }
        }
      }
    }
  }
}
