#selectedProjects {
  .selectedProjects__heading {
    @include media(sm) {
      padding: 2rem;
    }
    @include media(md) {
      padding: 2.5rem;
    }
    h3 {
      text-transform: uppercase;
      color: $secondMost;
    }
  }
  .selectedProjects__container {
    @include grid;
    padding: 5rem 0;
    @include media(sm) {
      padding: 2rem;
    }
    @include media(md) {
      padding: 2.5rem;
    }
    @include media(lg) {
      padding: 3rem;
    }
    @include media(xlg) {
      padding: 3.5rem;
    }
    .box1 {
      position: relative;
      background: url(../assets/basicux-01.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      transition: all 0.1s ease;
      &:hover {
        cursor: pointer;
        background: url(../assets/loader-basicux.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        .hover__button {
          visibility: visible;
          opacity: 1;
        }
      }
      .hover__button {
        color: #fff;
        visibility: hidden;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        opacity: 0;
        @include flex(left);
        transition: opacity 500ms ease-out;
        #arrow__icon {
          text-align: center;
          margin-left: 10px;
        }
      }
    }
    .box2 {
      transition: all 0.1s ease;
      background-image: url(../assets/triniso-01.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      .hover__button {
        color: #fff;
        visibility: hidden;
        opacity: 0;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        @include flex(left);
        transition: opacity 500ms ease-in;
        #arrow__icon {
          text-align: center;
          margin-left: 10px;
        }
      }

      &:hover {
        cursor: pointer;
        background: url(../assets/loader-triniso.jpg);
        background-position: center center;
        background-size: cover;
        .hover__button {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .box3 {
      transition: all 0.1s ease;
      background-image: url(../assets/symova-01.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      .hover__button {
        color: #fff;
        visibility: hidden;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        opacity: 0;
        @include flex(left);
        text-align: center;
        transition: opacity 500ms ease-in;
        #arrow__icon {
          text-align: center;
          margin-left: 10px;
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/loader-symova.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .hover__button {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .box4 {
      background: url(../assets/pmr-01.jpg);
      background-position: center center;
      background-size: cover;
      transition: all 0.1s ease-out;
      .hover__button {
        color: #fff;
        visibility: hidden;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        opacity: 0;
        @include flex(left);
        transition: opacity 500ms ease-in;
        #arrow__icon {
          text-align: center;
          margin-left: 10px;
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/loader-pmr.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .hover__button {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .box1,
  .box2,
  .box3,
  .box4 {
    height: 60rem;
    grid-column: span 6;
    @include media(sm) {
      height: 40rem;
      grid-column: 1/13;
    }
  }
  .box1__text,
  .box2__text,
  .box3__text,
  .box4__text {
    padding: 5rem;
    color: white;
    @include media(sm) {
      padding: 2rem;
    }
    & p:nth-child(2) {
      font-size: 35px;
      padding-top: 25px;
      @include media(sm) {
        font-size: 4rem;
      }
    }
  }
}
