#selectedProjects {
  .selectedProjects__heading {
    padding: 70px 50px;
    @include breakpoint-down(medium) {
      padding: 68px 30px;
    }
    @include breakpoint-down(small) {
      padding: 40px 20px;
    }
    h3 {
      text-transform: uppercase;
      font-size: 16px;
      font-family: $primaryFont;
      font-weight: 500;
      color: $pickupColor;
      letter-spacing: 4px;
      @include breakpoint-down(small) {
        font-size: 14.5px;
        letter-spacing: 4.5px;
      }
    }
    h2 {
      font-size: 75px;
      font-family: $primaryFont;
      font-weight: 900;
      color: #000;
      @include breakpoint-down(medium) {
        font-size: 50px;
      }
      @include breakpoint-down(small) {
        font-size: 40px;
      }
    }
  }
  .selectedProjects__container {
    @include grid;
    grid-row: 2;
    padding: 50px;
    @include breakpoint-down(small) {
      padding: 20px;
    }
    .box1 {
      @include breakpoint-down(small) {
        padding: 20px;
        grid-column: 1/13;
        height: 340px;
      }
      height: 500px;
      grid-column: 1/7;
      position: relative;
      background: url(../assets/basicux-01.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      transition: all 0.3s ease-out;
      .box1__text {
        padding: 50px;
        @include breakpoint-down(small) {
          padding: 30px;
        }
        p:nth-child(1) {
          color: white;
          font-size: 16px;
          font-weight: 500;
          @include breakpoint-down(small) {
            font-size: 14px;
          }
        }
        & p:nth-child(2) {
          color: #fff;
          font-size: 35px;
          padding-top: 25px;
          @include breakpoint-down(small) {
            font-size: 30px;
          }
        }
        .hover__button {
          color: #fff;
          visibility: hidden;
          margin-top: 15px;
          font-size: 17px;
          font-weight: 500;
          opacity: 0;
          @include flex(left);
          transition: opacity 500ms ease-out;
          #arrow__icon {
            text-align: center;
            margin-left: 10px;
          }
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/loader-basicux.jpg);
        background-position: center center;
        .hover__button {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .box2 {
      @include breakpoint-down(small) {
        grid-column: 1/13;
        height: 340px;
      }
      height: 500px;
      transition: all 0.3s ease-out;
      grid-column: 7/13;
      background-image: url(../assets/triniso-01.jpg);
      background-size: cover;
      background-position: center right;
      background-repeat: no-repeat;
      .box2__text {
        padding: 50px;
        @include breakpoint-down(small) {
          padding: 20px 30px;
        }
        @include breakpoint-down(large) {
          padding: 20px 30px;
        }
        p:nth-child(1) {
          color: rgb(202, 190, 190);
          font-size: 16px;
          font-weight: 500;
          font-family: sans-serif;
          @include breakpoint-down(small) {
            font-size: 12px;
          }
        }
        & p:nth-child(2) {
          color: rgb(255, 255, 255);
          font-size: 35px;
          padding-top: 25px;
          @include breakpoint-down(small) {
            font-size: 30px;
          }
        }
        .hover__button {
          color: #fff;
          visibility: hidden;
          opacity: 0;
          margin-top: 15px;
          font-size: 17px;
          font-weight: 500;
          @include flex(left);
          transition: opacity 500ms ease-in;
          #arrow__icon {
            text-align: center;
            margin-left: 10px;
          }
        }
      }

      &:hover {
        cursor: pointer;
        background: url(../assets/loader-triniso.jpg);
        background-position: center right;
        background-size: cover;
        .hover__button {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .box3 {
      @include breakpoint-down(small) {
        grid-column: 1/13;
        height: 340px;
      }
      transition: all 0.3s ease-out;
      grid-column: 1/7;
      height: 500px;
      background-image: url(../assets/symova-01.jpg);
      background-size: cover;
      background-position: center left;
      background-repeat: no-repeat;
      .box3__text {
        padding: 50px;
        @include breakpoint-down(small) {
          padding: 20px 30px;
        }
        p:nth-child(1) {
          color: rgb(146, 138, 138);
          font-size: 16px;
          font-weight: 500;
          font-family: sans-serif;
          @include breakpoint-down(small) {
            font-size: 12px;
          }
        }
        & p:nth-child(2) {
          color: rgb(255, 255, 255);
          font-size: 35px;
          width: 400px;
          padding-top: 25px;
          @include breakpoint-down(small) {
            font-size: 30px;
            width: 200px;
            color: rgb(255, 255, 255);
          }
        }
      }
      .hover__button {
        color: #fff;
        visibility: hidden;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        opacity: 0;
        @include flex(left);
        text-align: center;
        transition: opacity 500ms ease-in;
        #arrow__icon {
          text-align: center;
          margin-left: 10px;
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/loader-symova.jpg);
        background-size: cover;
        background-position: center left;
        .hover__button {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .box4 {
      @include breakpoint-down(small) {
        grid-column: 1/13;
        height: 340px;
      }
      height: 500px;
      grid-column: 7/13;
      background: url(../assets/pmr-01.jpg);
      background-position: center center;
      background-size: cover;
      transition: all 0.3s ease-out;
      .box4__text {
        padding: 40px;
        @include breakpoint-down(small) {
          padding: 20px 30px;
        }
        & p:nth-child(1) {
          color: rgb(200, 194, 194);
          font-size: 16px;
          font-weight: 500;
          font-family: sans-serif;
          @include breakpoint-down(small) {
            font-size: 12px;
          }
        }
        & p:nth-child(2) {
          color: rgb(255, 255, 255);
          font-size: 35px;
          padding-top: 25px;
          @include breakpoint-down(small) {
            font-size: 30px;
            color: rgb(255, 255, 255);
          }
        }
      }
      .hover__button {
        color: #fff;
        visibility: hidden;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 500;
        opacity: 0;
        @include flex(left);
        transition: opacity 500ms ease-in;
        #arrow__icon {
          text-align: center;
          margin-left: 10px;
        }
      }
      &:hover {
        cursor: pointer;
        background: url(../assets/loader-pmr.jpg);
        background-size: cover;
        background-position: bottom center;
        .hover__button {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
