.hero__container--btn{
    padding-top: 2rem;
    @include flex(flex-start);
    a{
        color: rgba(51, 45, 45, 0.788);
        font-family: $primaryFont;
        font-weight: bold;
        transition: color 0.4s ease-out;
        text-transform: uppercase;
        color: $secondaryColor;
        &:hover{
            color: $secondaryColor;
            position: relative;
            cursor: pointer;
            &::after{
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0px;
                bottom: -.1rem;
                height: 1.5px;
                width: 100%;
                background-color: $secondaryColor;
            }
        }    
    }
    & span:nth-child(2){
        color: gray;
        font-family: $primaryFont;
        font-weight: 400;
        margin: 0px 10px;
        padding: 0px;
        font-size: $sm;      
    }
    & span:nth-child(3){
        color: rgba(53, 45, 45, 0.788);
        font-family: $primaryFont;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0;
        text-transform: uppercase;
        padding-top: 0px;
        transition: color 0.4s ease-out;
        @include media(sm){
            color: $secondaryColor;
            font-size: 14px;
        }
        @include media(md){
            color: $secondaryColor;
        }    
        &:hover{
            text-decoration: underline;
            // position: relative;
            cursor: pointer;
            // &::after{
            //     content: '';
            //     position: absolute;
            //     bottom: -2px;
            //     left: 0px;
            //     top: 1.5rem;
            //     height: 1.5px;
            //     width: 100%;
            //     background-color: $secondaryColor;
            //     transition: all 0.4s ease-out;
            // }
        }
    }
}

.wrapper {
    @include media(sm){
        display: none;
    }
    position: fixed;
    left: 6.5rem;
    bottom: 3.2rem;
    z-index: 20;
    @include media(md){
        display: none;
    }
    .button{
        @include flex(center);
        position: relative;
        height: 47px;
        width: 47px;
        margin: 0 5px;
        overflow: hidden;
        border-radius: 3rem;
        cursor: pointer;
        background-color: rgba(175, 175, 175, 0.4);
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        @include media(sm){
            height: 42px;
            width: 42px;
        }
        &:hover{
            width: 120%;
            transition: width 200ms ease-out;
            background-color:$forground;
            justify-content: space-around;
            .text{
                display: inline-block;
            }
        }
        .icon{
            
        }
        .text{
            display: none;
        }
    }
}
.elevator_button{
    margin: 0 50px;
    float: right;
    position: fixed;
    bottom: 30px;
    right: 0px;
    z-index: 1;
    @include media(sm){
        display: none;
    }
    @include media(md){
        display: none;
    }
        &:hover{
              cursor: pointer;
        }
    .button{
        position: relative;
        @include flex(center);
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: rgba(51, 47, 47, 0.5);
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1); 

        .icon{
            position: relative;
            color: rgb(255, 255, 255);
            border-radius: 50px;
        }       
    }
}