@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&family=Noto+Sans:wght@700&display=swap");
.sticky {
  padding: 0px 40px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.highlight::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 20px;
  top: 1.2rem;
  height: 0.20em;
  width: 62%;
  background-color: #4c58d9;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

#selectedProjects .selectedProjects__container .box, #personalProjects .container .card {
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes content {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: .1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes content {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: .1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes box__content {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  10% {
    opacity: 10%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes box__content {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  10% {
    opacity: 10%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

@media (min-width: 320px) and (max-width: 478px) {
  html {
    font-size: 44%;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 64.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero,
  #selectedProjects,
  #personalProjects,
  #newProjects,
  #contact {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }
}

#hero .navbar {
  top: 0%;
  position: fixed;
  width: 100%;
  z-index: 9999999;
  padding: 1.2rem 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 478px) {
  #hero .navbar {
    padding: 2rem;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  #hero .navbar {
    padding: 2.5rem;
  }
}

#hero .navbar__logo {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .navbar__logo img {
  height: 4.2rem;
  width: 4.2rem;
}

#hero .navbar__logo--title {
  margin-left: 1rem;
}

#hero .navbar__logo--title h5 {
  font-size: 1.8rem;
}

#hero .navbar__logo--title p {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
}

#hero .navbar__logo:hover {
  cursor: pointer;
}

#hero .navbar #hamburger.is-active .navbar__logo--title.actived {
  color: #fff;
}

#hero .navbar #hamburger.is-active .menu {
  color: #fff;
}

#hero .navbar #hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
}

#hero .navbar #hamburger.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
          transform: translateY(9px) rotate(-45deg);
  background-color: white;
}

@media (min-width: 320px) and (max-width: 478px) {
  #hero .navbar #hamburger.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
  }
}

#hero .navbar #hamburger.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
  background-color: white;
}

#hero .navbar .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
}

#hero .navbar .hamburger:hover {
  cursor: pointer;
}

#hero .navbar .hamburger .menu {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  text-transform: uppercase;
}

#hero .navbar .hamburger .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
}

#hero .navbar .hamburger .bars:hover {
  cursor: pointer;
  opacity: 90%;
}

#hero .navbar .hamburger .bars .bar {
  height: .3rem;
  background-color: black;
  width: 2.8rem;
  margin: .2rem 0;
}

#hero .navbar .menu__bar {
  display: none;
}

#hero .navbar .menu__bar .navbar__logo--title p {
  color: #fff;
}

#hero .navbar .menu__bar .navbar__menu {
  padding: 10rem 0;
  z-index: 99;
  overflow: hidden;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0f141e;
}

#hero .navbar .menu__bar .navbar__menu li {
  padding-bottom: 1rem;
}

#hero .navbar .menu__bar .navbar__menu li a {
  font-size: 4.3rem;
  font-weight: 700;
  color: gray;
}

#hero .navbar .menu__bar .navbar__menu li a:hover {
  color: #fff;
}

#hero .navbar .menu__bar.active {
  display: block;
}

#hero .navbar .menu__bar .list__menu {
  color: gray;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#hero .navbar .menu__bar li {
  position: relative;
  list-style: none;
  padding: 0 20px;
}

#hero .navbar .menu__bar li a {
  text-decoration: none;
  font-weight: bold;
}

#hero .navbar .menu__bar li a:hover {
  color: #fff;
}

.hero__container--btn {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero__container--btn a {
  color: rgba(51, 45, 45, 0.788);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  text-transform: uppercase;
  color: #4c58d9;
}

.hero__container--btn a:hover {
  color: #4c58d9;
  position: relative;
  cursor: pointer;
}

.hero__container--btn a:hover::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0px;
  bottom: -.1rem;
  height: 1.5px;
  width: 100%;
  background-color: #4c58d9;
}

.hero__container--btn span:nth-child(2) {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0px 10px;
  padding: 0px;
  font-size: 1.6rem;
}

.hero__container--btn span:nth-child(3) {
  color: rgba(53, 45, 45, 0.788);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0;
  text-transform: uppercase;
  padding-top: 0px;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

@media (min-width: 320px) and (max-width: 478px) {
  .hero__container--btn span:nth-child(3) {
    color: #4c58d9;
    font-size: 14px;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  .hero__container--btn span:nth-child(3) {
    color: #4c58d9;
  }
}

.hero__container--btn span:nth-child(3):hover {
  text-decoration: underline;
  cursor: pointer;
}

.wrapper {
  position: fixed;
  left: 6.5rem;
  bottom: 3.2rem;
  z-index: 20;
}

@media (min-width: 320px) and (max-width: 478px) {
  .wrapper {
    display: none;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  .wrapper {
    display: none;
  }
}

.wrapper .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 47px;
  width: 47px;
  margin: 0 5px;
  overflow: hidden;
  border-radius: 3rem;
  cursor: pointer;
  background-color: rgba(175, 175, 175, 0.4);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 320px) and (max-width: 478px) {
  .wrapper .button {
    height: 42px;
    width: 42px;
  }
}

.wrapper .button:hover {
  width: 120%;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
  background-color: #e4e4e4;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .button:hover .text {
  display: inline-block;
}

.wrapper .button .text {
  display: none;
}

.elevator_button {
  margin: 0 50px;
  float: right;
  position: fixed;
  bottom: 30px;
  right: 0px;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 478px) {
  .elevator_button {
    display: none;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  .elevator_button {
    display: none;
  }
}

.elevator_button:hover {
  cursor: pointer;
}

.elevator_button .button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: rgba(51, 47, 47, 0.5);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.elevator_button .button .icon {
  position: relative;
  color: white;
  border-radius: 50px;
}

.hero {
  padding: 4rem 7rem;
  margin-top: 10rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  .hero {
    padding: 3rem 2rem;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  .hero {
    padding: 4rem 3.5rem;
  }
}

.hero__left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
}

@media (min-width: 320px) and (max-width: 478px) {
  .hero__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.hero__left h5 {
  color: #878a8f;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: .7rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero__left h1 {
  padding: 1rem 0;
}

.hero__left p {
  padding: 1rem 0;
  font-family: "Poppins", sans-serif;
  color: #878a8f;
}

.hero__right {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 320px) and (max-width: 478px) {
  .hero__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.hero__right .image__container {
  height: auto;
  width: 100%;
}

.hero__right .image__container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#selectedProjects .selectedProjects__heading {
  padding: 3rem 7rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #selectedProjects .selectedProjects__heading {
    padding: 2rem;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  #selectedProjects .selectedProjects__heading {
    padding: 2.5rem;
  }
}

#selectedProjects .selectedProjects__heading h3 {
  text-transform: uppercase;
  color: #878a8f;
  font-weight: 400;
}

#selectedProjects .selectedProjects__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding: 5rem 7rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #selectedProjects .selectedProjects__container {
    padding: 2rem;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  #selectedProjects .selectedProjects__container {
    padding: 2.5rem;
  }
}

#selectedProjects .selectedProjects__container .box {
  height: 65rem;
  position: relative;
  background-image: url(../assets/basicux-01.jpg);
  grid-column: span 6;
  -webkit-transition: background-image 100ms ease-out;
  transition: background-image 100ms ease-out;
}

@media (min-width: 320px) and (max-width: 478px) {
  #selectedProjects .selectedProjects__container .box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    height: 50rem;
  }
}

#selectedProjects .selectedProjects__container .box:hover {
  cursor: pointer;
  background-image: url(../assets/loader-basicux.jpg);
}

#selectedProjects .selectedProjects__container .box:hover .hover__button {
  visibility: visible;
  opacity: 1;
}

#selectedProjects .selectedProjects__container .box .hover__button {
  color: #fff;
  visibility: hidden;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

#selectedProjects .selectedProjects__container .box .hover__button #arrow__icon {
  text-align: center;
  margin-left: 10px;
}

#selectedProjects .selectedProjects__container .box2 {
  background-image: url(../assets/triniso-01.jpg);
}

#selectedProjects .selectedProjects__container .box2:hover {
  background: url(../assets/loader-triniso.jpg);
}

#selectedProjects .selectedProjects__container .box3 {
  background-image: url(../assets/symova-01.jpg);
}

#selectedProjects .selectedProjects__container .box3:hover {
  background: url(../assets/loader-symova.jpg);
}

#selectedProjects .selectedProjects__container .box4 {
  background: url(../assets/pmr-01.jpg);
}

#selectedProjects .selectedProjects__container .box4:hover {
  background: url(../assets/loader-pmr.jpg);
}

#selectedProjects .box__text {
  padding: 5rem;
  color: white;
}

@media (min-width: 320px) and (max-width: 478px) {
  #selectedProjects .box__text {
    padding: 3.5rem;
  }
}

#selectedProjects .box__text p:nth-child(2) {
  font-size: 2.5rem;
  padding-top: 2.5rem;
}

#personalProjects .personalProjects__heading {
  padding: 4rem 7rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #personalProjects .personalProjects__heading {
    padding: 2rem;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  #personalProjects .personalProjects__heading {
    padding: 2.5rem;
  }
}

#personalProjects .personalProjects__heading p {
  text-transform: uppercase;
  color: #4e4c4c;
  letter-spacing: 4px;
}

#personalProjects .personalProjects__heading h3 {
  padding: 1rem 0;
  font-size: 4.883rem;
  font-weight: 700;
}

#personalProjects .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding: 2rem 7rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #personalProjects .container {
    padding: 2rem;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  #personalProjects .container {
    padding: 3rem;
  }
}

#personalProjects .container .card {
  height: 60rem;
  grid-column: span 6;
  position: relative;
  background-image: url(../assets/triniso-01.jpg);
  -webkit-transition: background-image 100ms ease-out;
  transition: background-image 100ms ease-out;
}

@media (min-width: 320px) and (max-width: 478px) {
  #personalProjects .container .card {
    height: 50rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

#personalProjects .container .card__text {
  padding: 4rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #personalProjects .container .card__text {
    padding: 2rem;
  }
}

#personalProjects .container .card__text p:nth-child(1) {
  color: #928a8a;
}

#personalProjects .container .card__text p:nth-child(2) {
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding-top: 15px;
}

#personalProjects .container .card .hover__button {
  color: #fff;
  visibility: hidden;
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

#personalProjects .container .card .hover__button #arrow__icon {
  text-align: center;
  margin-left: 10px;
}

#personalProjects .container .card:hover {
  cursor: pointer;
  background: url(../assets/loader-triniso.jpg);
}

#personalProjects .container .card:hover .hover__button {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 320px) and (max-width: 478px) {
  #personalProjects .container .card:hover .hover__button {
    display: none;
  }
}

#personalProjects .container .card2 {
  background-image: url(../assets/symova-01.jpg);
}

#personalProjects .container .card2:hover {
  background-image: url(../assets/loader-symova.jpg);
}

#newProjects {
  padding: 4rem 7rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #newProjects {
    padding: 2rem;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  #newProjects {
    padding: 2.5rem;
  }
}

#newProjects .newProjects__heading p:nth-child(1) {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #4e4c4c;
  letter-spacing: 5px;
}

#newProjects .newProjects__heading p:nth-child(2) {
  font-size: 4.883rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#newProjects .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding: 4rem 0;
}

#newProjects .container .box {
  grid-column: span 4;
  height: 40rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #newProjects .container .box {
    height: 30rem;
    grid-column: span 6;
  }
}

#newProjects .container .box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7rem 3rem;
  color: #fff;
  text-align: center;
  visibility: hidden;
  -webkit-transition: visibility 100ms ease-out;
  transition: visibility 100ms ease-out;
}

#newProjects .container .box__text img {
  margin-bottom: 26px;
}

#newProjects .container .box__text p {
  font-size: 1.6rem;
  font-weight: 400;
}

#newProjects .container .box:hover {
  cursor: pointer;
}

#newProjects .container .box:hover .box__text {
  visibility: visible;
}

#newProjects .container .box1 {
  background-image: url(../assets/68967415_391720778205108_6365166460657770162_n.jpg);
}

#newProjects .container .box2 {
  background: url(../assets/78706227_626690924538002_7907898064255941123_n.jpg);
}

#newProjects .container .box3 {
  background-image: url(../assets/78706227_626690924538002_7907898064255941123_n.jpg);
}

#newProjects .collaborate {
  padding: 8rem 5rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #newProjects .collaborate {
    padding: 4rem 0rem;
  }
}

#newProjects .collaborate .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#newProjects .collaborate .content p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  color: #4e4c4c;
  letter-spacing: 4px;
}

#newProjects .collaborate .content h4 {
  margin-top: 1rem;
  position: relative;
  font-size: 4.883rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#newProjects .collaborate .content h4:hover {
  cursor: pointer;
  position: relative;
}

#newProjects .collaborate .content h4:hover::after {
  content: '';
  position: absolute;
  bottom: -.8rem;
  left: 0px;
  height: 0.5rem;
  width: 100%;
  background-color: #0f141e;
}

@media (min-width: 320px) and (max-width: 478px) {
  #newProjects .collaborate .content h4:hover::after {
    display: none;
  }
}

hr {
  margin: 0 7rem;
  opacity: .6;
  background-color: #4e4c4c;
}

#contact {
  position: relative;
  padding: 4rem 7rem;
}

@media (min-width: 320px) and (max-width: 478px) {
  #contact {
    padding: 2rem;
  }
}

@media (min-width: 479px) and (max-width: 768px) {
  #contact {
    padding: 2.5rem;
  }
}

#contact .contact_content {
  position: relative;
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

#contact .contact_content > a {
  color: black;
}

#contact .contact_content .contact_info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

@media (min-width: 320px) and (max-width: 478px) {
  #contact .contact_content .contact_info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

#contact .contact_content .contact_info p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#contact .contact_content .contact_info p:nth-child(1) i {
  font-size: 100px;
}

#contact .contact_content .contact_info p:nth-child(2) {
  margin-top: 0.62rem;
  font-family: sans-serif;
  color: #4e4c4c;
}

#contact .contact_content .contact_info p:nth-child(3) {
  margin-top: 1.2rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #575454;
}

#contact .contact_content .latest_work {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
}

@media (min-width: 320px) and (max-width: 478px) {
  #contact .contact_content .latest_work {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

#contact .contact_content .latest_work p:nth-child(1) {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#contact .contact_content .latest_work p:nth-child(2) {
  margin-top: 0.5rem;
  width: 5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

#contact .contact_content .latest_work p:nth-child(2) a {
  color: #4c58d9;
}

#contact .contact_content .availability {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
}

@media (min-width: 320px) and (max-width: 478px) {
  #contact .contact_content .availability {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

#contact .contact_content .availability p:nth-child(1) {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#contact .contact_content .availability p:nth-child(2) {
  margin-top: 0.5rem;
  color: #4e4c4c;
}

#contact .contact_content .to_follow {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
}

@media (min-width: 320px) and (max-width: 478px) {
  #contact .contact_content .to_follow {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

#contact .contact_content .to_follow p:nth-child(1) {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  width: 130px;
}

#contact .contact_content .to_follow p:nth-child(2) {
  margin-top: 0.62rem;
  width: 6rem;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 25px;
}

#contact .contact_content .to_follow p:nth-child(2) > a {
  color: #4c58d9;
}

#contact .contact_content .to_follow p:nth-child(2) > a i {
  color: #4c58d9;
}

#contact .copyright {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  opacity: 60%;
}

#contact .copyright .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

#contact .copyright .contain img {
  height: 45px;
  width: 45px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #contact .copyright .contain img {
    height: 35px;
    width: 35px;
  }
}

#contact .copyright .contain p {
  margin: 7px 0 0 10px;
  font-size: 17px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #contact .copyright .contain p {
    font-size: 15px;
  }
}

h1 {
  font-size: 6.104rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0.05rem;
}

h2 {
  letter-spacing: 0.02rem;
  font-size: 4.883rem;
  font-weight: 600;
  line-height: 5.2rem;
}

h3 {
  font-size: 3.906rem;
  line-height: 4.5rem;
  font-weight: 600;
}

h4 {
  line-height: 3.5rem;
  font-size: 3.125rem;
  font-weight: 600;
}

h5 {
  line-height: 1.2;
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  font-size: 1.8rem;
}

a {
  font-weight: 400;
  font-size: 1.6rem;
}
/*# sourceMappingURL=index.css.map */